DISCORD_GUILD_ID=ton_server_id
DISCORD_BOT_TOKEN=ton_token_admin_bot
MUSE_DISCORD_TOKEN=ton_token_muse_bot
MUSE_YOUTUBE_API_KEY=ta_cle_youtube
MUSE_SPOTIFY_CLIENT_ID=ton_spotify_client_id
MUSE_SPOTIFY_CLIENT_SECRET=ton_spotify_client_secret
MUSE_CACHE_LIMIT=2GB
MUSE_YT_DLP_AUTO_UPDATE=true
MUSE_ENABLE_SPONSORBLOCK=false
MUSE_BOT_STATUS=online
MUSE_BOT_ACTIVITY_TYPE=LISTENING
MUSE_BOT_ACTIVITY=Music
BOT_TIMEZONE=America/Toronto
BOT_RUNTIME_DIR=/bot/runtime
